*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
@font-face {
    font-family: CodecPro;
    src: url(/Fonts/CodecPro-Italic.ttf);
}
body{
    font-family: CodecPro;

}

nav{
    background: #e6f0f4;
    height: 110px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;

}

nav ul{
    float: right;
    margin-right: 32%;
}
nav ul li{
    display: inline-block;
    line-height: 110px;
    margin: 0 25px;

}
nav ul li a{
    color: black;
    font-weight: normal ;
    font-size: 17px;
    text-transform: uppercase;

}
v ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}

a:hover{
    background: #87a2e7;
    transition: .5s;
}

.Center{
    background-color: #ffffff;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    border-radius: 35px;
    border-color: #000000;
}
section{

    background: url("/Afbeeldingen/segelflug-mauterndorf-lungau.jpg");
    background-size: 100%;
    height: calc(100vh - 80px);
}
.Zoekbar{

    background: #e6f0f4;
    height: 0px;
    align-items: center;
    right: 10px;
    position: absolute;
    left: 85%;
    top: 40px;
    size: 30px;

}


.search-bar{
    width: 100%;
    max-width: 100%;
}

.Knoppen1{
    text-align: center;
    position: relative;
    left: 15%;
    font-family: CodecPro;
    width: 50%;
    top: 375px;
}

.search-bar input{
    font-family: CodecPro;


    background: transparent;
    border-width: 1.5px;
    flex: 1;
    font-size: 22px;
    border-radius: 5px;
    width: 160px;

}

.InputEmail{
    position: absolute;
    bottom: 292px;

    left: 40px;

}

.InputEmail input{

    height: 30px;
    width: 320px;

    background-color: rgb(241, 241, 241);
    height: 50px;
    border-width: 1.5px;
    border-color: transparent;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 15px;
    font-weight: lighter;

    outline: none;

}

.EmailInput_Stripe{
    background-color: #0d98e8;
    width: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    height: 100%;
    left: -3px;

}

.InputWachtwoord{
    position: absolute;
    bottom: 223px;

    left: 40px;

}

.InputWachtwoord input{

    height: 30px;
    width: 320px;

    background-color: rgb(241, 241, 241);
    height: 50px;
    border-width: 1.5px;
    border-color: transparent;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 15px;
    font-weight: lighter;

    outline: none;

}

.WachtwoordInput_Stripe{
    background-color: #0d98e8;
    width: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    height: 100%;
    left: -3px;

}
.Inloggen_Text{
    color: rgb(21, 36, 69);
    position: absolute;
    top: 50px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 40px;
    right: 30px;
    border-color: #000000;

}



.SigninKnop{
    position: relative;
    background-color: #0ca4fc;
    border-radius: 27px;
    color: white;
    font-weight: bold;
    font-family: CodecPro;
    font-size: 20px;
    border-color: #20a5fd;
    height: 50px;
    width: 340px;
    right: 30px;

}

Inlogvak{
    background-color: white;
}

.InloggenKnop{
    position: absolute;
    left: 85%;
}

.Registreren_Vakje{
    position: relative;
    top: 400px;
    left: 100px;
    right: 50px;
}

.Registreren_knop{
    position: relative;
    background: transparent;
    border: transparent;
    left: 3px;
}