*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
@font-face {
    font-family: CodecPro;
    src: url(/Fonts/CodecPro-Italic.ttf);
}
body{
    font-family: CodecPro;

}

nav{
    background: #e6f0f4;
    height: 110px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;

}

nav ul{
    float: right;
    margin-right: 32%;
}
nav ul li{
    display: inline-block;
    line-height: 110px;
    margin: 0 25px;

}
nav ul li a{
    color: black;
    font-weight: normal ;
    font-size: 17px;
    text-transform: uppercase;

}
v ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}

a:hover{
    background: #87a2e7;
    transition: .5s;
}

.Zoekbar{

    background: #e6f0f4;
    height: 0px;
    align-items: center;
    right: 10px;
    position: absolute;
    left: 85%;
    top: 40px;
    size: 30px;

}


.search-bar{
    width: 100%;
    max-width: 100%;
}

.search-bar input{
    font-family: CodecPro;


    background: transparent;
    border-width: 1.5px;
    flex: 1;
    font-size: 22px;
    border-radius: 5px;
    width: 160px;

}

body {
    background-image: url("/Afbeeldingen/thumbnail_plane.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #45545F;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.loginContainer {
    margin: 5em auto;
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 23em;
}

h2 {
    margin: 1em;
}

input {
    width: 100%;
    height: 2em;
    border-radius: 3px;
    padding: 5px;
    background-color: aliceblue;
    border: 0;
}
label {
    font-weight: 600;
    font-size: 13px;
}

#submitButton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

.linksLogin {
    all: unset;
    font-size: 15px;
    margin: 5px;
    font-weight: bolder
}